@font-face {
  font-family: 'OleoScript Regular';
  src: url('../font/OleoScript-Regular.ttf');
}

@font-face {
  font-family: 'Raleway Regular';
  src: url('../font/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('../font/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway Thin';
  src: url('../font/Raleway-Thin.ttf');
}

@font-face {
  font-family: 'Raleway Light';
  src: url('../font/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway SemiBold';
  src: url('../font/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OratorStd Regular';
  src: url('../font/OratorStd.ttf');
}
