@media screen and (max-width: $breakpoint-xs) {
  //header

  .header {
    &__logo {
      font-size: 40px;
    }

    .nav {
      &__item {
        padding: 15px;
      }
    }

    &__button {
      font-size: 16px;
    }
  }

  //carousel advertisement

  .carousel-ads {
    padding-top: 85px;

    &__content {
      top: 120px;
    }

    &__title {
      font-size: 40px;
    }

    &__description {
      font-size: 16px;
    }
  }

  //about-us

  .about-us {
    &__title {
      font-size: 32px;
      padding: 0 15px;
    }

    &__description {
      @include section-desc-mobile;
    }
  }

  .introduce {
    &__content {
      flex-basis: 100%;
      padding: 40px 0;
    }

    &__description {
      text-align: justify;
    }
  }

  .our-services {
    padding: 40px 0;

    &__title {
      padding: 0 15px;
    }
  }

  //portfolios

  .portfolios {
    padding: 40px 0;

    &__title {
      font-size: 32px;
      padding: 0 15px;
    }

    &__description {
      @include section-desc-mobile;
    }
  }

  .project {
    flex-basis: 100%;
  }

  .latest-project {
    padding: 40px 0;

    &__title {
      font-size: 22px;
      padding: 0 10px;
    }

    &__description,
    &__link {
      font-size: 16px;
    }
  }

  //our-members

  .our-members {
    &__title {
      font-size: 32px;
      padding: 0 15px;
    }

    &__description {
      @include section-desc-mobile;
    }

    .container {
      margin-bottom: 40px;
    }

    .row {
      flex-wrap: wrap;
    }
  }

  .member {
    flex-basis: 100%;
    padding: 0;
    margin-bottom: 50px;
  }

  .client-review {
    &__title {
      padding: 0 15px;
    }
  }

  //our-blog

  .our-blog {
    padding: 40px 0;

    &__title {
      font-size: 32px;
    }

    &__description {
      @include section-desc-mobile;
    }
  }

  .post {
    &__link {
      font-size: 20px;
    }

    &__detail {
      letter-spacing: 0;
    }

    &__control-prev,
    &__control-next {
      font-size: 34px;
    }
  }

  //contact-us

  .contact-us {
    padding: 40px 0;
  }

  .form-contact {
    flex-wrap: wrap;
    margin-top: 48px;

    &__group {
      flex-basis: 100%;
    }
  }
}
