$gray-1: #b2b2b2;
$gray-2: #929292;
$gray-3: #626262;
$gray-4: #5b5b5b;
$gray-5: #595959;
$gray-6: #525252;
$gray-7: #444;
$gray-8: #393939;
$gray-9: #303030;
$gray-10: #363636;

$light: #fff;
$light-1: #f5f5f5;
$light-2: #ebebeb;
$light-3: #e4e4e4;

$brown-1: #7b6c63;
$brown-2: #6d4e3c;

$dark: #000;
$dark-1: #1a1a1a;
$dark-2: #1c1c1c;
$dark-3: #212121;
$dark-4: #222;
$dark-5: #24211e;
$dark-6: #242424;
$dark-7: #363636;

$blue-1: #29c5f2;

$font-oleoscript-reg : 'OleoScript Regular';
$font-opensans-reg: 'OpenSans Regular';
$font-oratorstd: 'OratorStd Regular';
$font-raleway-reg: 'Raleway Regular';
$font-raleway-med: 'Raleway Medium';
$font-raleway-semibold: 'Raleway SemiBold';
$font-raleway-thin: 'Raleway Thin';
$font-raleway-light: 'Raleway Light';

$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
